#body_kids{

    .footer_kids{
        background-color: $roja;
        border-top: solid 12px $verde;
        color: $verde;
        padding-top: 2vh;
        

        a{
            color: $verde;
        }
    }}