.header {
    position: relative;
    z-index: 1;

    .navbar {
        padding-top: 0rem;

        .navbar-brand {
            margin-right: 7rem;


            .logo {
                width: 80px;
                height: auto;
            }
        }

        #linkCargaProducto {
            display: none;
        }

        #cargarProducto {
            color: #D74E09;
        }

        #ventanaCargaProducto {
            display: none;
            background-color: white;
            position: absolute;
            z-index: 2;
            width: 50vw;
            right: 24vw;
            box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
            text-align: center;
            padding: 3rem;

            #botonCargaProducto {
                border-radius: 30px;
                background-color: #D74E09;
                border-color: #D74E09;
            }

            .divInput {
                padding: 0rem 5rem;
            }

        }

        .links_nav {
            margin: 0 1rem;
        }

        .navbar-collapse {
            flex-grow: 0;

            #cuenta {
                width: 100%;
                position: relative;
                z-index: 1;

                .posBotonCuenta {
                    display: none;
                    padding: 1rem 1rem;
                    position: absolute;
                    z-index: 2;
                    width: 20vw;
                    right: -5vw;
                    height: 100vh;
                    background-color: white;
                    box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);

                    .boton2 {
                        border-radius: 30px;
                        background-color: #D74E09;
                        border-color: #D74E09;
                    }

                }
            }

            #carrito {
                width: 100%;
                position: relative;
                z-index: 1;

                #posBotonCarrito {
                    padding: 1rem 1rem;
                    display: none;
                    position: absolute;
                    z-index: 2;
                    background-color: white;
                    width: 30vw;
                    height: 100vh;
                    right: -0.89vw;
                    box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
                    
                    .imagenEnCarrito{
                        width: 6rem;
                        height: 9rem;
                        margin: 0 1rem;
                    }

                    .muestrarioCarrito{
                        margin-bottom: 1rem;
                        border-bottom: 0.5px solid;
                    }
                    
                    .productosEnCarrito{
                        padding-right: 1rem;
                        align-items: center;
                    }

                    .carritoVacio {
                        color: #D74E09;
                        display: block;
                    }
                }
            }
        }
    }
}


@media (max-width:768px) {
    .header {
        .navbar-collapse {
            flex-grow: 1;
        }
    }
}