.productos {

    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.3fr 1.2fr; 
    grid-template-rows: 1.5fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "aside principal"
      "precios precios"; 
  
        font-family: $fuentePrincipal;

    .aside {

        grid-area: aside;

.inputsUl{
    font-size: larger;
}

    }

    .principal {
        grid-area: principal;

        .card{
            margin-bottom: 3rem;
        
            .imagenProductos{
                height: 70vh;
                
            }
           
        }

        .boton {
            border-radius: 30px;
            background-color: #D74E09;
            border-color: #D74E09;
            width: 53px;
            text-align: center;

            &:focus{
                box-shadow: none;
            }
        }

        .botonCantidad{
            border: solid 1px;
            text-align: center;
            width: 60px;
        }
    }

  .precios{
      grid-area: precios;
     

      .recuadro{
          border: solid 2px;
          background-color:#D74E09;
          color: white;
          padding: 0 2rem;
          text-align: center;
          p{
              margin-bottom: 0;
          }
      }
  }


}