.seccion2{

.imagen__seccion2--op1{
    width: 90%;
    height: 90%;
    padding-right: 1rem;
}

.imagen__seccion2--op2{
    width: 90%;
    height: 90%;
    padding-left: 1rem;
}

.imagen__seccion2--op3{
    height: 80vh;
    width: 90%;
   
}


 }