.seccion4{
    background-color: black;
    color: white;
    .parrafo{
        font-size: larger;
    }

    .form{
        margin: 1rem 0;
    .boton{
        border-radius: 25px;
        width: 18rem;
        height: 3rem;
        padding-left: 2%;
    }
    .boton2{
        border-radius: 25px;
        width: 8rem;
        height: 3rem;
        color: white;
        background-color: orangered;
        font-weight: bold;
        font-family: $fuentePrincipal;
    }

  .links{
      color: white;
  }
}
}