.seccion1{
    padding-right: var(--bs-gutter-x,.01rem);
    padding-left: var(--bs-gutter-x,0rem);

    .bi{
        margin-right: 1.5rem;
    }

    .imagen__portada{
        width: 100%;
        height: 60vh;
    }

    .productos__titulo{
        font-size: medium;
        font-weight: bold;
        line-height: 0;
        margin-bottom: 0.2rem;
    }

    .productos__sub{
        font-size: large;
        font-weight: lighter;
        margin-bottom: 0;
    }
    .p{
        margin-bottom: 0;
    }
}